<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>spring-mvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 配置SpringMVC前端控制器 -->
  <servlet>
  		<servlet-name>spring-mvc</servlet-name>
  		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <!-- 指定springmvc的配置文件
  	默认路径：/WEB-INF/${servlet-name}-servlet.xml
   -->
   		<init-param>
   			<param-name>contextConfigLocation</param-name>
   			<param-value>classpath:spring-mvc-servlet.xml</param-value>
   		</init-param>
  </servlet>
  <!-- 配置映射的及请求设置拦截规则 -->
  <servlet-mapping>
  		<servlet-name>spring-mvc</servlet-name>
  		<!-- 设置请求拦截规则 
  		1./*:不能进行对其访问：No mapping found for HTTP request with URI [/spring-mvc/WEB-INF/jsp/hello.jsp] in DispatcherServlet with name 'spring-mvc'
  			拦截所有，jsp,js，css都会拦截，不建议
  		2./:拦截所有不包括jsp，肯定可以用
  		3.*.action,*.do,拦截do,action的结尾请求，一般用于前台，面向消费者的
  		-->
  		<url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>