.mend{
	width: 45%;
	height: 400px;
	margin-left:13%;
}
body{
	background-color:#f2f2f2 ;
}
.field{
	width: 80%;
	height: 40px;
	margin-top:1%;
}
.header{
	width: 96%;
	height: 30%;
	margin-left: 3%;
	background-color: white;
margin-top: 10px;
}

.main1{
	width: 96%;
	height:100%;
	margin-left: 3%;
	background-color: white;
}
.datainp{ width:200px; height:30px; border:1px #ccc solid;}
.datep{ margin-bottom:40px;}
#allmap {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	
	#r-result {
		width: 100%;
		font-size: 14px;
		position: absolute;
		top: 10px;
		left: 200px
	}
.bttn{
	width: 300px;
	height: auto;
    background-color: #3dc6b6;
    padding: 8px;
    margin-top:5%;
    margin-left: 20%;
}
*{margin:0px;padding:0px;border:0px; font-size:12px;color:#333; font-family:微软雅黑;}
ul li{ list-style:none}
a{ text-decoration:none;}
a:hover{ color:#e46432;}
body{margin:auto; background:url(../images/bj.jpg);overflow-x:hidden;}


/*****购物车*********/
.gwc{ width:96%;overflow:hidden;}
.gwc_tb1{ width:100%; border-top:5px solid #48b9e5; background:#d0e7fa; height:38px; margin-top:20px; overflow:hidden;}
.tb1_td1{ width:35px; text-align:center;}
.tb1_td3{ width:290px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td4{ width:260px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td5{ width:115px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td6{ width:135px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td7{ text-align:center;}


.gwc_tb2{ width:100%; margin-top:20px; background:#eef6ff; border:1px solid #e5e5e5; padding-top:20px; padding-bottom:20px;}
.tb2_td1{ width:60px; text-align:center;}
.tb2_td2{ width:100px; text-align:center;}
.tb2_td2 img{ width:96px; height:96px; border:2px solid #c9c6c7;}
.tb2_td3{ width:170px; padding-left:12px; padding-right:18px;}
.tb2_td3 a{ font-size:14px; line-height:22px;}

.gwc_tb3{ width:100%; border:1px solid #d2d2d2; background:#e7e7e7; height:46px; margin-top:20px; }
.gwc_tb3 tr td{font-size:14px;}
.tb3_td2{ width:100px;text-align:center;}
.tb3_td2 span{ color:#ff5500;font-size:14px; font-weight:bold; padding-left:5px; padding-right:5px; }
.tb3_td3{ width:220px;text-align:center;}
.tb3_td3 span{ font-size:18px; font-weight:bold;}
.tb3_td4{ width:110px;text-align:center;}
.jz2{ width:100px; height:46px; line-height:46px; text-align:center; font-size:18px; color:#fff; background:#ee0000; display:block; float:right;}
#jz1{font-size:18px;}
*{ margin:0; padding:0;}
	
	#wrap{
		width:600px;
		height:400px;
		margin:50px auto;
	}
	#top{
		width:600px;
		height:220px;
		border-bottom:1px solid #bbb;
		font-family:'Microsoft yahei';
	}
	#top p{
		margin-bottom:15px;
	}
	#top p font{
		font-size:14px;
		color:#000;
		margin-right:15px;
	}
	#top p span{
		font-size:14px;
		color:#666;
		border:1px solid #999;
		display:inline-block;
		padding:8px;
		cursor:pointer;
	}
	#top p span.on{
		border:2px solid #f60;
		padding:7px;
		background:url(img/on.png) no-repeat right bottom;
	}
	#bottom{
		width:600px;
		height:159px;
		padding-top:20px;
		font-family:'Microsoft yahei';
	}
	#bottom p font{
		color:#f60;
		font-size:20px;
		margin-right:20px;
	}
	#bottom p a{
		font-size:14px;
		color:blue;
	}
	#bottom p a i{
		margin:0 5px;
		color:#90c;
	}
	#bottom button{
		width:330px;
		height:50px;
		font-family:'Microsoft yahei';
		margin-top:20px;
		font-size:20px;
		background:#f60;
		color:#fff;
		border:none;
		
	}
