*{
	padding:0px;
	margin:0px;
	font-family: "微软雅黑";
	text-decoration:none;
	list-style:none;
	font-size:14px;
	color:#666666;
}
button{
	cursor: pointer;
}
.btn{
	display: inline-block;
    vertical-align: middle;
    padding: 7px 20px 6px;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    letter-spacing: .1em;
    text-align: center;
    text-decoration: none;
    border-width: 0 0 1px;
    border-style: solid;
    background-repeat: repeat-x;
    background:#2DB8AA;
    color:#fff;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
}


/*登录界面*/
.login_body{
	width:960px;
	margin:auto;}
.login_body	a:link,.login_body a:visited{
	color:#6A7373;
	text-decoration:none;
}
.login_header .logo{
	width:92px;
	height:60px;
	margin:40px 0px;
}
.login{
	height:400px;
}
.login .valid_infor{
	height:20px;
}
.login_img{
	width:58%;
	height:356px;
}
.login_img img{
	width:472px;
	height:356px;
}
.login_form{
	width:30%;
	height:356px;
	margin-left:50px;
}
.login_form .form-user a:hover,.login_form .form-user a:visited{
	color:#666666;
	text-decoration:underline;
}
.login_form .scan{
	width:50px;
	height:50px;
	background:url(../img/login/login_login_icon3.png) no-repeat;
	
}
.login_form .login_login_icon4{
	background:url(../img/login/login_login_icon4.png) 8px 8px no-repeat;
	
}
.login_form .forget_psd a:link{
	color:#2BB8AA;
}
.login_form.forget_psd a:hover,.login_form .forget_psd a:visited{
	color:#2BB8AA;
	text-decoration:underline;
}
.login_form .no_user a:link{
	color:#2BB8AA;
}
.login_form .no_user a:hover,.login_form .no_user a:visited{
	color:#2BB8AA;
	text-decoration:underline;
}
.login_form .team{
	text-align:center;
}
.team .companies{
	width:60px;
	height:25px;
	margin:0px auto;
}
.login_footer{
	height:100px;
	border-top:1px solid #999999;
}
.login_footer a:link{
	color:#666666;
}
/*注册界面*/
.reg_header{
	width:980px;
	margin:20px auto;
}
.reg_header .reg_logo{
	width:58px;
	height:38px;
}
.reg_header .reg_login{
	padding-top:10px;
}
.reg_header .reg_login .loginbtn{
	color:#fff;
	background:#2DB8AA;
}
.reg_header .reg_login .btn-small{
	height:30px;
	width:50px;
	padding:3px 3px;
}
.reg_level{
	height:4px;
	background:url(../img/register/reg_icon.jpg);
}
/*form{
	width:100%;
	border:1px solid;
}*/
.reg_content .reg_form input{
	width:250px;
	height:35px;
	margin:10px;
}
.reg_content .reg_form span{
	
}
.reg_content .reg_form label{
	width:70px;
	color:#000;
}

/*header.html*/
.index_header{
	background:#F8F9FA;
}
.index_header a:link,.index_header a:visited{
	color:#6A7373;
	text-decoration:none;
}
.index_header a:hover{
	color:#3DBBBC;
	text-decoration:none;
}
.index_header .header_bar{
	color:#6A7373;
	height:40px;
	line-height:40px;
	margin:0 10%;
}
.index_header .header_bar a{
	margin-left:5px;
}
.index_header .header_content{
	height:100px;
	background:#fff;
	padding:0 10%;
}
.index_header .header_content .logo{
	background:#fff;
	margin:30px 0px;
}
.index_header .header_content form{
	margin:30px 50px 0px 50px;
}
.index_header .header_content form input{
	width:480px;
	height:40px;
	border-color:#13D1BE;
	font-size:16px;
}
.index_header .header_content form button{
	width:80px;
	height:40px;
	background:#13D1BE;
}


/*首页*/
.index_body{
	width:85%;
	margin:0px auto;
}
.index_body a:link,.index_body a:visited{
	color:#6A7373;
	text-decoration:none;
}
.index_body a:hover{
	color:#3DBBBC;
	text-decoration:none;
}
.container .index_content .content_banner{
	margin-bottom:20px;
	width:100%;
}
.container .index_content .content_banner nav{
	width:100%;
	height:80px;
	margin:0px;
}
.container .index_content .content_banner nav ul{
	width:50%;
	height:30px;
	margin:0 auto;
}
.container .index_content .content_banner nav ul li{
	width:30%;
	height:28px;
	line-height:28px;
	margin:0 auto;
	text-align:center;
}
.container .index_content .content_banner nav ul li a{
	font-size:18px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
}
.container .index_content .content_banner nav ul li a:hover{
	color:#FDC411;
}
.container .index_content .content_banner .index_content_banner{
	height:240px;
	margin:20px 0px;
}
.container .index_content .content_banner .index_content_banner .banner_pictures{
	width:74%;
	height:100%;
}
.container .index_content .content_banner .index_content_banner .banner_user{
	width:24%;
	height:240px;
	color:#000;
	text-align:center;
	background:#fff;
}
.container .index_content .content_banner .index_content_banner .banner_user .index_loginbtn,.container .index_content .content_banner .index_content_banner .banner_user .index_regbtn{
	width:50%;
	height:40px;
	color:#000;
	border-radius:20px;
	margin:5px;
	background:#fff;
	border:1px solid #EDEDED;
}
.container .index_content .content_banner .index_content_banner .banner_user .index_loginbtn:hover,.container .index_content .content_banner .index_content_banner .banner_user .index_regbtn:hover{
	background:#EDEDED;
}
.container .index_content .index_hotel .index_hotelNav{
	background:url(../img/index/hotelNav_yellow_center.png);
	width:100%;
	height:44px;
	line-height:44px;
	border-radius:8px 8px 0px 0px;
	position:relative;
}
.container .index_content .index_hotel .index_hotelNav .hotelNav_title{
	font-size:16px;
	color:#fff;
	position:absolute;
	left:10px;
}
.container .index_content .index_hotel .index_hotelNav .hotelNav_content{
	position:absolute;
	top:-12px;
	left:70px;
}
.container .index_content .index_hotel .index_hotelNav .hotelNav_content a:link,.container .index_content .index_hotel .index_hotelNav .hotelNav_content a:visited{
	color:#fff;
	text-decoration:none;
}
.container .index_content .index_hotel .index_hotelNav .hotelNav_content a:hover{
	color:#F04D4E;
	text-decoration:none;
}
.container .index_content .index_hotel .index_hotelCon .hotelCon_rows{
	height:290px;
	padding-top:10px;
	background:#fff;
}
.container .index_content .index_hotel .index_hotelCon .hotelCon_rows .hotelCon_details{
	width:32%;
	margin-left:10px;
}
.container .index_content .index_hotel .index_hotelCon .hotelCon_rows .hotelCon_photos{
	width:100%;
	margin-bottom:6px;
}
.container .index_content .index_alikeNav{
	background:url(../img/index/hotelNav_green_center.png);
	width:100%;
	height:44px;
	line-height:44px;
	border-radius:8px 8px 0px 0px;
	position:relative;
}
.container .index_content .index_alikeNav .alikeNav_title{
	font-size:16px;
	color:#fff;
	position:absolute;
	left:10px;
}
.container .index_content .index_alikeNav .alikeNav_content{
	color:#fff;
	position:absolute;
	left:90px;
}
.container .index_content .index_alikeCon .alikeCon_rows{
	height:290px;
	padding-top:10px;
	background:#fff;
}
.container .index_content .index_alikeCon .alikeCon_rows .alikeCon_details{
	width:32%;
	margin-left:10px;
}
.container .index_content .index_alikeCon .alikeCon_rows .alikeCon_details .alikeCon_photos{
	width:100%;
	margin-bottom:6px;
}
.container .index_content .index_meituanNav_Nav{
	background:url(../img/index/hotelNav_green_center.png);
	width:100%;
	height:44px;
	line-height:44px;
	border-radius:8px 8px 0px 0px;
	position:relative;
}
.container .index_content .index_meituanNav_Nav .meituanNav_title{
	font-size:16px;
	color:#fff;
	position:absolute;
	left:10px;
}
.container .index_content .index_meituanNavCon{
	height:90px;
	border:0.5px solid #E5E5E5;
}


/*footer.html*/

.index_footer{
	width:100%;
	height:400px;
	background:#F8F9FA;
}
.footer{
	background:#F8F9FA;
}
.index_footer a:link,.index_footer a:visited{
	color:#6A7373;
	text-decoration:none;
}
.index_footer a:hover{
	color:#3DBBBC;
	text-decoration:none;
}
.index_footer div{
	width:22%;
	padding:15px;
}


/*酒店子页面subHotel.html*/

.subHotel_body{
	width:85%;
	margin:0 auto;
}
.subHotel_body a{
	padding:2px 6px;
}
.subHotel_body a:link,.subHotel_body a:visited{
	color:#6A7373;
	text-decoration:none;
}
.subHotel_body a:hover{
	color:#06C1AE;
}
.container .subHotel_search{
	width:100%;
	border:1px solid #E5E5E5;
	border-radius:3px;
	margin-bottom:20px;
}
.container .subHotel_search .subHotel_searchNav{
	width:100%;
	height:70px;
	padding:18px;
	background:#EBEBEB;
}
.container .subHotel_search .subHotel_searchNav .searchNav_city,.hotel_date,.search_keyword{
	margin-right:10px;
}
.container .subHotel_search .subHotel_searchNav label{
	display: inline-block;
    border: 1px solid #e5e5e5;
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 10px;
    outline: none;
    width: auto;
}
.container .subHotel_search .subHotel_searchNav span{
	color:#9D9D9D;
	font-size:12px;
}
.container .subHotel_search .subHotel_searchNav input{
	font-size:14px;
    color:#333;
    height:25px;
    line-height:25px;
    padding:5px;
    width: 100px;
    border: none;
    outline: none;
}
.container .subHotel_search .subHotel_searchNav .keyword_input{
	width:210px;
	height:34px;
    border-radius:4px;
}
.container .subHotel_search .subHotel_searchNav .searchBtn{
	width:9%;
	height:36px;
	border-radius:25px;
	background:#13D1BE;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}
.container .subHotel_search .subHotel_searchCon{
	width:100%;
	padding:0px 18px;
	background:#fff;
}
.container .subHotel_search .subHotel_searchCon .tab_title{
	width:5%;
}
.container .subHotel_search .subHotel_searchCon table nav{
	width:100%;
	height:22px;
	padding:0px;
	margin:0px;
}
.container .subHotel_search .subHotel_searchCon table nav ul{
	width:100%;
	height:22px;
}
.container .subHotel_search .subHotel_searchCon table nav li{
	margin-right:25px;
	height:22px;
}
.container .subHotel_search .subHotel_searchCon table .positNav li a:hover,.container .subHotel_search .subHotel_searchCon table nav li a:active{
	background:#F0FFFD;
}

.container .subHotel_search .subHotel_searchCon table .positNav li .dropdown-menu{
	background:#F0FFFD;
	border:0px;
}
.container .subHotel_search .subHotel_searchCon .noLimit a:hover,.noLimit a:active,.container .subHotel_search .subHotel_searchCon table nav li .dropdown-menu a:hover,.container .subHotel_search .subHotel_searchCon table nav li .dropdown-menu a:active{
	background:#13D1BE;
	border-radius:20px;
	color:#fff;
}
.container .subHotel_search .subHotel_searchCon label{
	cursor:pointer;
}
.container .subHotel_search .subHotel_searchCon .rangeNav li,.container .subHotel_search .subHotel_searchCon .styleNav li,.container .subHotel_search .subHotel_searchCon .brandNav li,.container .subHotel_search .subHotel_searchCon .priceNav li{
	margin-right:40px;
}
.container .subHotel_search .subHotel_searchCon .rangeNav input{
	margin-right:5px;
}
.container .subHotel_search .subHotel_searchCon table .hotel_sum{
	font-size:16px;
}
.container .subHotel_search .subHotel_searchCon table .hotel_sum span{
	color:#FF8634;
	font-size:16px;
}
.container .subHotel_content .subHotel_contentMes{
	width:75%;
	background:#fff;
}
.container .subHotel_content .subHotel_contentMes .contentMes_Nav nav{
	height:50px;
}
.container .subHotel_content .subHotel_contentMes .contentMes_Nav nav li{
	margin-right:15px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail{
	width:100%;
	height:170px;
	padding:20px 0px 20px 20px;
	border:1px solid #E5E5E5;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail img{
	width:24%;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit{
	width:46%;
	height:125px;
	margin-left:5px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail a{
	font-size:16px;
	color:#13D1BE;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail a:hover,.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit a:active{
	color:#FF6600;
	text-decoration:underline;
	background:#fff;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit em{
	display: inline-block;
    width: 17px;
    height: 20px;
    line-height: 18px;
    vertical-align: middle;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAoCAYAAACb3CikAAAABGdBT…Qg7CqGBPsoKiIaeM3EQGsc4B4V4FUIcs+ixzusrRXa/wPm/w5odZfGowAAAABJRU5ErkJggg==) no-repeat;
    background-color:#13D1BE;
    background-size: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-right: 5px;
    margin-top: -5px;
    border-radius:10px 10px 80px 80px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit em:hover,.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit em:active{
	background:#f60;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit span a{
	font-size:14px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit nav{
	width:100%;
	padding:0px;
	margin:5px 0px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit ul{
	width:100%;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit li{
	width:23%;
	margin-right:6px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit .posit_mark span{
	border:1px solid #569CEA;
	border-radius:2px;
	padding:1px 2px;
	margin-right:5px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_posit .posit_mark .mark_book{
	border:1px solid #f60;
	border-radius:2px;
	padding:1px 2px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_score{
	width:14%;
	height:100px;
	line-height:25px;
	padding:0px 10px;
	margin:20px auto 0px;
	border-left:1px solid #E5E5E5;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_score .score_grade{
	color:#f60;
	font-size:20px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_score .score_grade span{
	color:#f60;
	font-size:16px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_score .score_comment a{
	font-size:14px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_price{
	width:15%;
	height:100px;
	line-height:20px;
	padding:0px 4px;
	margin:20px auto 0px;
	border-left:1px solid #E5E5E5;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_price .price_cost{
	color:#f60;
	margin-left:20px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_price .price_cost span{
	color:#f60;
	font-size:26px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_price .price_book{
	font-size:12px;
	color:#13D1BE;
	margin-top:8px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_price .price_details{
	margin-top:10px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_price .price_details a{
	background:#FF9900;
	color:#fff;
	font-size:16px;
	padding:8px 15px;
	border-radius:25px;
}
.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_price .price_details a:hover,.container .subHotel_content .contentMes_hotel .contentMes_hotelDetail .hotelDetail_price .price_details a:active{
	background:#D07C00;
	text-decoration:none;
}

/*酒店详情hotelDetail.html*/
.hotelDetail_body{
	width:85%;
	margin:0 auto;
}
.hotelDetail_body a:link,.hotelDetail_body a:visited,.hotelDetail_body a:hover,.hotelDetail_body a:active{
	color:#13D1BE;
	text-decoration:none;
}
.container .hotelDetail_message{
	width:100%;
}
.container .hotelDetail_message .message_title{
	width:100%;
	height:110px;
	clear:both;
}
.container .hotelDetail_message .message_title .message_titleNav{
	padding:10px 0px;
}
.container .hotelDetail_message .message_title .message_titleCon .message_titConleDetail .titConleDetail_name{
	height:40px;
}
.container .hotelDetail_message .message_title .message_titleCon .message_titConleDetail .titConleDetail_name span{
	font-size:28px;
	font-weight:bold;
	color:#000;
}
.container .hotelDetail_message .message_title .message_titleCon .message_titConleDetail .titConleDetail_name .name_style{
	height:40px;
	line-height:40px;
	margin-left:15px;
}
.container .hotelDetail_message .message_title .message_titleCon .message_titConleDetail .titConleDetail_address{
	width:100%;
	clear:both;
}
.container .hotelDetail_message .message_title .message_titleCon .message_titleConPrice{
	width:9%;
	height:60px;
	line-height:60px;
	font-size:16px;
	color:#FF6600;
}
.container .hotelDetail_message .message_title .message_titleCon .message_titleConPrice span{
	font-size:32px;
	color:#FF6600;
}
.container .message_content{
	width:100%;
	height:420px;
	margin-top:5px;
	clear:both;
	border:1px solid;
}
.container .message_content .message_contentScore{
	width:36%;
}
.container .message_content .message_contentPicture{
	width:62%;
	height:400px;
	position:relative;
}
.container .message_content .message_contentPicture .contentPicture_main img{
	width:100%;
	height:280px;
}
.container .message_content .message_contentPicture .contentPicture_main .main_pictureSum{
	width:100%;
	position:absolute;
	top:245px;
	left:0px;
}
.container .message_content .message_contentPicture .contentPicture_main .main_pictureSum nav{
	width:100%;
}
.container .message_content .message_contentPicture .contentPicture_main .main_pictureSum nav ul{
	width:100%;
}
.container .message_content .message_contentPicture .contentPicture_main .main_pictureSum li{
	border-right:1px solid #fff;
	width:18%;
	text-align:center;
}
.container .message_content .message_contentScore{
	width:36%;
	height:400px;
}
.container .message_content .message_contentScore .contentScore_ul{
	width:100%;
	height:400px;
	background:#fff;
	padding:10px;
	border:1px solid #E5E5E5;
}
.container .message_content .message_contentScore .contentScore_ul li{
	width:100%;
	height:32%;
	border-bottom:1px solid #E5E5E5;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_grade{
	width:70%;
	height:115px;
	line-height:115px;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_grade .contentScore_accurGrade{
	width:36%;
	height:85%;
	text-align:center;
	line-height:90px;
	color:#FF9900;
	font-size:16px;
	border:3px dotted #FF9900;
	border-radius:200%;
	margin:8px 20px;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_grade .contentScore_accurGrade span{
	color:#FF9900;
	font-size:32px;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_grade .contentScore_blurGrade{
	color:#FF9900;
	font-size:16px;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_comment{
	height:115px;
	line-height:115px;
	
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_message{
	width:100%;
	height:115px;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_message .message_year{
	width:100%;
	height:25%;
	line-height:28px;
	padding-left:20px;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_message .message_tel{
	width:100%;
	height:25%;
	line-height:28px;
	padding-left:20px;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_message .message_facility{
	width:100%;
	height:48%;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_message nav{
	width:100%;
	height:49%;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_message nav ul{
	width:100%;
	height:100%;
}
.container .message_content .message_contentScore .contentScore_ul .contentScore_message nav ul li{
	width:24%;
	height:100%;
	text-align:center;
	border:0px;
}
