<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaysanshi.springbootshop.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.kaysanshi.springbootshop.domain.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ordertime" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="total" jdbcType="DOUBLE" property="total" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

  </resultMap>
</mapper>