<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kayleoi.springbootshop.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.kayleoi.springbootshop.domain.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="market_price" jdbcType="DOUBLE" property="marketPrice" />
    <result column="shop_price" jdbcType="DOUBLE" property="shopPrice" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="is_hot" jdbcType="INTEGER" property="isHot" />
    <result column="detail_title" jdbcType="VARCHAR" property="detailTitle" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="publish_status" jdbcType="INTEGER" property="publishStatus" />
    <result column="new_status" jdbcType="INTEGER" property="newStatus" />
    <result column="recommand_status" jdbcType="INTEGER" property="recommandStatus" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="desc" jdbcType="LONGVARCHAR" property="desc" />
  </resultMap>
</mapper>