<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaysanshi.springbootshop.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.kaysanshi.springbootshop.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="query" parameterType="com.kaysanshi.springbootshop.dto.UserQueryVO" resultType="com.kaysanshi.springbootshop.domain.User">
    select * from shopuser
    where
    state=0
    <if test="startDate != null">
      and shopuser.create_time &gt;= #{startDate}
    </if>
    <if test="endDate != null">
      and shopuser.create_time &lt;= #{endDate}
    </if>

    <if test="key != null and key != ''">
      and shopuser.name like "%"#{key}"%"
    </if>

    <if test="sort == null or sort == 0">
      ORDER BY shopuser.create_time desc
    </if>
    <if test="sort == 1">
      ORDER BY shopuser.create_time asc
    </if>

    limit #{start}, #{limit}
  </select>

  <select id="querySum" resultType="Integer" parameterType="com.kaysanshi.springbootshop.dto.UserQueryVO">
    select
    count(*)
    from shopuser
    where
    state=0
    <if test="startDate != null">
      and shopuser.create_time &gt;= #{startDate}
    </if>
    <if test="endDate != null">
      and shopuser.create_time &lt;= #{endDate}
    </if>

    <if test="key != null and key != ''">
      and shopuser.name like "%"#{key}"%"
    </if>

    <if test="sort == null or sort == 0">
      ORDER BY shopuser.create_time desc
    </if>
    <if test="sort == 1">
      ORDER BY shopuser.create_time asc
    </if>
  </select>
</mapper>