<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.hotel.mapper.MerchantMapper">
	<select id="checkMerchant" resultType="com.leo.hotel.domain.Merchant" parameterType="com.leo.hotel.domain.Merchant">
		select * from merchant 
				where username = #{username} and password = #{password}
	</select>
	<!-- 要与数据库中的属性对应 -->
	<update id="addMerChant" parameterType="com.leo.hotel.domain.Merchant">
		insert into 
					merchant(username,password,gender,telephone,email,icpicture,name,phone,region_id,adress,
							type,star_level,prices_start,prices_end,room_count,description,picture) 
					values(#{username},#{password},#{gender},#{telephone},#{email},#{icpicture},#{name},#{phone},
							#{regionid},#{adress},#{typeid},#{starid},#{pricesStart},#{pricesEnd},#{roomCount},#{description},#{picture})
	</update>
	<select id="selectCount" resultType="java.lang.Integer">
		select count(*) from merchant
	</select>
	<select id="getPageQueryList" resultType="com.leo.hotel.domain.Merchant" parameterType="com.leo.hotel.utils.PageBean">
		select 
			merchant.id,merchant.username,merchant.password,gender,telephone,email,icpicture,name,phone,region_id,adress,
			merchant.type AS typeid,merchant.star_level AS starid,prices_start,prices_end,room_count,merchant.description,picture, 
			region.province As regionName,type.typename AS typeName,starlevel.starname AS starName
		from 
			merchant, type, starlevel, region
		where  
			merchant.type = type.id and merchant.star_level = starlevel.id and merchant.region_id = region.id
			and merchant.id limit #{currentPage},#{pageSize}
	</select>
	<update id="updateMerChant" parameterType="com.leo.hotel.domain.Merchant">
		update 
			merchant 
					set 
						username=#{username},password=#{password},gender=#{gender},telephone=#{telephone},email=#{email},icpicture=#{icpicture},
						name=#{name},phone=#{phone},region_id=#{regionid},adress=#{adress},type=#{typeid},star_level=#{starid},prices_start=#{pricesStart},
						prices_end=#{pricesEnd},room_count=#{roomCount},description=#{description},picture=#{picture}
					where 
						id=#{id} 
	</update>
	<select id="getListByAjax" resultType="com.leo.hotel.domain.Merchant" parameterType="java.lang.String">
			select * from merchant where region_id=#{regionid}
	</select>
	<!--  <resultMap type="com.leo.hotel.domain.Merchant" id="MerchantMap">
		<id property="id" column="id"/>
		<result property="username" column="username"></result>
		
		<association property="type" column="type" javaType="com.leo.hotel.domain.Type" select="getTye"></association>
		<association property="starlevel" column="star_level" javaType="com.leo.hotel.domain.Starlevel" select="getstar"></association>
		<association property="region" column="star_level" javaType="com.leo.hotel.domain.Region" select="getRegion"></association>
	</resultMap>
	<select id="getTye" parameterType="int" resultType="com.leo.hotel.domain.Type">
		select id,typename,description,remark from type where id=#{id}
	</select>
	<select id="getstar" parameterType="int" resultType="com.leo.hotel.domain.Starlevel">
		select id,starname,description,remark form starlevel where id=#{id}
	</select>
	<select id="getRegion" parameterType="int" resultType="com.leo.hotel.domain.Region">
		select * form starlevel where id=#{id}
	</select>-->
</mapper>