<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.hotel.mapper.OrderMapper">
	<update id="addOrder" parameterType="com.leo.hotel.domain.Order">
		insert into `order`(user_id,time,name,price,address,telephone,roomid,startdate,enddate,status,hoteid)
				values(#{userid},#{time},#{name},#{price},#{address},#{telephone},#{roomid},#{startdate},#{enddate},#{status},#{hoteid})
	</update>
	<select id="selectCount" resultType="java.lang.Integer">
		select count(*) from `order`
	</select>
	<select id="getPageQueryList" resultType="com.leo.hotel.domain.Order" parameterType="com.leo.hotel.utils.PageBean">
		select `order`.id,user_id,time,`order`.name,`order`.price,`order`.address,`order`.telephone,`order`.roomid,startdate,enddate,status,hoteid ,merchant.name As hotelname,region.province AS regioname,room.name AS roomname,
		room.price AS price1
		from `order`,user,merchant,region,room
		where `order`.user_id=`user`.id and `order`.hoteid=merchant.id and region.id=`order`.address and `order`.roomid=room.id and `order`.id limit #{currentPage},#{pageSize}
	</select>
</mapper>