<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.hotel.mapper.RoomMapper">
	<update id="add" parameterType="com.leo.hotel.domain.Room">
		insert into room(name,sort_id,merchant_id,price,stutscode,roompicture) values(
		#{name},#{sortid},#{merchantid},#{price},#{stutscode},#{roompicture})
	</update>
	<select id="selectCount" resultType="java.lang.Integer">
		select count(*) from room
	</select>
	<select id="getPageQueryList" resultType="com.leo.hotel.domain.Room" parameterType="com.leo.hotel.utils.PageBean">
		select room.id,name,sort_id As sortid,merchant_id,price,stutscode,roompicture ,roomsort.sortname As sortName
		from room,roomsort 
		where room.sort_id=roomsort.id
		 and room.id limit #{currentPage},#{pageSize}
	</select>
	<update id="update" parameterType="com.leo.hotel.domain.Room">
		update 
			room 
					set 
						name=#{name},sort_id=#{sortid},merchant_id=#{merchantid},price=#{price},stutscode=#{stutscode},roompicture=#{roompicture}
					where 
						id=#{id}  
	</update>
	<delete id="deleteBatch" parameterType="java.lang.String">
		delete form room where id=#{id}
	</delete>
	<select id="getListByAjax" resultType="com.leo.hotel.domain.Room" parameterType="java.lang.String">
			select * from room where merchant_id=#{merchantid}
	</select>
</mapper>