<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>cxf_service</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 配置CXF提供的servlet -->
  <servlet>
  		<servlet-name>cxf</servlet-name>
  		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
  		<!-- 通过初始化参数指定CXF配置文件位置 -->
  		<init-param>
  			<param-name>config-location</param-name>
  			<param-value>classpath:cxf.xml</param-value>
  		</init-param>
  </servlet>
  <!-- 配置映射文件 -->
  <servlet-mapping>
	  	<servlet-name>cxf</servlet-name>
	  	<url-pattern>/service/*</url-pattern>
  </servlet-mapping>
</web-app>