<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qfengx.portal.mapper.ProjectcaseMapper">
	<select id="queryById" resultType="cn.qfengx.portal.bean.Projectcase">
		select * from projectcase where id= #{value}
	</select>
	<select id="query" parameterType="cn.qfengx.portal.bean.ProjectcaseQueryVo" resultType="cn.qfengx.portal.bean.Projectcase">
		select 
			projectcase.id as id,
			projectcase.title as title,
			projectcase.detail as detail,
			projectcase.addtime as addtime,
			projectcase.click as click,
			projectcase.img as img
			from projectcase 
			<where>
				<if test="startDate != null">
					and projectcase.addtime &gt;= #{startDate}
				</if>	
				<if test="endDate != null">
					and projectcase.addtime &lt;= #{endDate}
				</if>
				
				<if test="key != null and key != ''">
					and (projectcase.title like "%"#{key}"%" or projectcase.detail like "%"#{key}"%")
				</if>
				
				
			</where>
			<if test="sort == null or sort == 0">
					ORDER BY projectcase.addtime desc
				</if>
				<if test="sort == 1">
					ORDER BY projectcase.addtime asc
				</if>
				
			limit #{start}, #{limit}	 
	</select>
	<select id="querySum" resultType="Integer" parameterType="cn.qfengx.portal.bean.ProjectcaseQueryVo">
		select 
			count(*)
			from projectcase
			<where>
				<if test="startDate != null">
					and projectcase.addtime &gt;= #{startDate}
				</if>	
				<if test="endDate != null">
					and projectcase.addtime &lt;= #{endDate}
				</if>
				
				<if test="key != null and key != ''">
					and (projectcase.title like "%"#{key}"%" or projectcase.detail like "%"#{key}"%")
				</if>
			</where>
	</select>
	<insert id="add" parameterType="cn.qfengx.portal.bean.Projectcase" useGeneratedKeys="true" keyProperty="id">
		insert into projectcase 
			(title, click, detail, addtime, img)
		values 
			(#{title}, #{click}, #{detail}, #{addtime}, #{img})
	</insert> 
	<update id="update" parameterType="cn.qfengx.portal.bean.NewsQueryVo">
		update projectcase set title = #{title}, detail = #{detail}, img = #{img}
	</update>
	<delete id="delete">
		delete from projectcase 
		where id in (
			<foreach collection="array" item="id" separator=",">
				#{id}
			</foreach>
		)
	</delete>
</mapper>